.main-head {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
	z-index: 10;
}
.org-name {
	font-size: 24px;
	font-weight: 400;
	margin-top: 2rem;
}
.head-nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
}
.head-nav li {
	margin: 1rem;
	font-size: 18px;
	font-weight: 400;
}
.head-nav a {
	text-decoration: none;
	color: #575757;
}
.slider-top {
	display: flex;
	justify-content: center;
	align-items: center;
}
.container-top {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
	height: 100vh;
	background-color: #f2f2f2;
}
.prod-item {
	width: 30%;
	height: auto;
	margin: 20rem;
	margin-top: 5%;
}
.container-top .owl-carousel {
	height: 100vh;
}
.container-top .owl-nav, .left-slider .owl-nav {
	position: absolute;
	top: 35%;
	margin: 1rem;
	width: 100%;
}
.container-top .owl-next:before, .left-slider .owl-next:before {
	content: '\f061';
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	color: #000;
    font-size: 2rem;
}
.container-top .owl-prev:before, .left-slider .owl-prev:before {
	content: '\f060';
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	color: #000;
    font-size: 2rem;
}
.container-top .owl-next {
	position: absolute;
	right: 3%;
	top: 0;
}
.prod-desc p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 24px;
	text-align: center;
}
.prod-desc span {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	display: block;
	text-align: center;
}
.prod-buttons {
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
}
.info-btn {
	width: 130px;
	height: 53px;
	background-color: #3d3d3d;
	border: none;
	cursor: pointer;
}
.info-btn span {
	color: white;
	font-family: OpenSans;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
}
.card-btn {
	width: 130px;
	height: 53px;
	border: 1px solid #3d3d3d;
	margin-left: 10px;
	cursor: pointer;
}
.card-btn span {
	color: #3d3d3d;
	font-family: OpenSans;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
}
.slider-middle {
	display: flex;
	justify-content: center;
	align-items: center;
}
.middle {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 70%;
	height: 70vh;
	margin-top: 1rem;
}
.middle .left-slider {
	width: 70%;
	height: 100%;
}
.left-slider-item {
	width: 100%;
	height: 70vh;
}
.left-slider .owl-nav {
	position: absolute;
	top: 40%;
	width: 100%;
}
.left-slider .owl-next {
	position: absolute;
	right: 3%;
	top: 0;
}
.right-desc {
	width: 30%;
	height: 100%;
}
.right-desc .product-title h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 24px;
	margin-left: 1rem;
}
.right-desc .product-desc p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	margin-left: 1rem;
}
.right-desc .product-price span {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 24px;
	margin-left: 1rem;
}
.right-desc .product-btn {
	margin-left: 0.5rem;
	margin-top: 1rem;
}